<template>
    <lightning-card title={tableTitle}>
        <div style="height:200px">
        <lightning-datatable
            columns={columns}
            data={data}
            key-field="Id"
            draft-values={draftValues}
            enable-infinite-loading
            onloadmore={loadMoreData}
            hide-checkbox-column="true"
            show-row-number-column="true"
            onsave={handleSave} 
            onsort={handleSort}
        ></lightning-datatable>
    </div>
       
    </lightning-card>
</template>


